# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
config.js

config.json

# Build outputs
dist/
build/

# IDE and OS specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
